body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
	BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
	background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3b5998;
	color: white;
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}

.register-button {
  background-color: #42b72a;
  border: none;
  color: white;
}

.join-facebook{
  font-size: 14px;
}
.logo-text {
  font-size: 32px;
  font-weight: bold;
}